---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

<h2>2026</h2>

<p>
  <strong>Le choix de l’entrepreneuriat chez les jeunes : quelles trajectoires professionnelles pour y parvenir et quelle pérennité ?</strong><br>
  Nathalie Havet, Xavier Joutard, Amandine Penot and <strong>Morgane Plantier</strong><br>
  <em>Revue Économique</em>, forthcoming.
</p>

<p>
  <strong>Les Différences-de-Différences, de 1840 à aujourd’hui : évaluer les politiques publiques à partir des expériences naturelles que les décideurs offrent aux chercheurs</strong><br>
  Clément de Chaisemartin, Xavier D’Haultfœuille and <strong>Morgane Plantier</strong><br>
  <em>Revue Économique</em>, forthcoming.
</p>

<h2>2024</h2>

<p>
  <strong>L’auto-protection influence-t-elle les choix d’assurance des individus ? Une étude expérimentale</strong><br>
  C. Mouminoux, <strong>Morgane Plantier</strong> and Jean-Louis Rullière<br>
  <em>Revue Économique</em>, 75(5), 1043–1085.
</p>

<p>
  <strong>The impact of parental benefits on disadvantaged households</strong><br>
  Nathalie Havet, Guy Lacroix and <strong>Morgane Plantier</strong><br>
  <em>Journal of Policy Analysis and Management</em>, forthcoming.
</p>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



